.container {
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.container-items {
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
  border: 2px solid black;
}

.container-items-1 {
  min-height: 100px;
}
.container-items-2 {
  min-height: 200px;
}
.container-items-3 {
  min-height: 300px;
}
